<div class="layout-content">
	<slot/>
</div>

<style is:global>
  .layout-content {
    max-width: 40rem;
    margin: 2rem auto;
    text-align: left;
  }

  .layout-content h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .layout-content p {
    font-size: 1.25rem;
    line-height: 1.75;
    margin-top: 1rem;
  }
</style>
