<footer class="footer">
	<p>&copy; 2024 Jeremiah D. Gage. All rights reserved.</p>
  </footer>
  
<style>
	.footer {
		background-color: #1a1a1a;
		color: rgb(154, 154, 154);
		font-size: 0.875rem;
		font-weight: bold;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.footer p {
		margin: 0;
	}
</style>
  