---
import IntroDoc from '../layouts/IntroDoc.astro';
import NavCard from '../components/NavCard.astro'; // Assuming you have a reusable Card component
---

<IntroDoc
  title="Home" 
  description="Select an application to read the related documentation." 
  image="./docs.svg"
>
  <div slot="content" class="container">
    <div class="card-grid">
      <NavCard title="MatchBot" description="The matchmaking bot for Discord" link="/matchbot" image="/matchbot.svg"/>
    </div>
  </div>
</IntroDoc>

<style>
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
  }
</style>
